<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Fast Nuces <%=num %></h1>
    <p>
      "The Lahore Campus, spread over 12.5 acres, is located in Faisal Town
      which is the heart of greater Lahore. The campus consists of three blocks,
      which with their striking exterior brickwork and magnificent marble domes
      are a valuable addition to the rich architectural heritage of Lahore. The
      facilities consist of fully air-conditioned purpose-built classrooms
      equipped with teaching aids, and a number of computing and engineering
      laboratories. The Engineering labs comprise Electronics, Digital Systems,
      Embedded Controls, Antenna and Microwave, Microprocessors, and
      Communications Labs. The computing labs consist of database, programming,
      software engineering, and computer application labs. The latest computers,
      workstations, and services havi
    </p>
  </body>
</html>
