<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>random numbers gen</title>
  </head>
  <body>
    <h1>This is your random number:<%=rand %></h1>
    <% if(rand%2===0){ %>
    <h2>Even number</h2>
    <% } else { %>
    <h2>Odd number</h2>
    <% } %>
  </body>
</html>
